name: Generate Stats

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: zeyadrezk
          outputs: |
            stats/snake.svg
            stats/snake-dark.svg?palette=github-dark

      - name: Push snake
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update snake"
          file_pattern: "stats/*"

  cards:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: zeyadrezk
          BRANCH_NAME: main
          AUTO_PUSH: true
